{% extends 'base/base.html' %}
{% block content %}

    <h3>About</h3>
    <p id="about">Lucy is a pet tracker, or, in other words, a great way to keep up with all of your furry friends' daily
        activities. (It's named after our own recently adopted cockapoo, Lucy.)
        To get started, you'll add pet profiles for each of your pets. Then, every time your pet goes for a walk, eats a
        meal, takes medication, or goes to the bathroom,
        add the event in the app. Whenever you need to, you can look back at your pets' history to keep track of their
        activities.
    </p>
{% endblock content %}