<!DOCTYPE html>
{% load staticfiles %}
{% load bootstrap3 %}
{%  load crispy_forms_tags %}
<html lang="en">
    <head>
        <title>Lucy Pet App </title>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css">
        <link rel="stylesheet" href="{% static 'accounts/accounts.css' %}">
        <link href="https://fonts.googleapis.com/css?family=Roboto+Slab" rel="stylesheet">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <style>
            span.lowercase {
                text-transform: lowercase;
            }
        </style>
    </head>
    <body>
    <nav class="navbar navbar-default navbar-custom">
  <div class="container-fluid">
    <div class="navbar-header">
      <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#myNavbar">
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <a class="navbar-brand" href="/"><i class="fa fa-paw"></i> Lucy! A Pet Tracking Application</a>
    </div>
    <div class="collapse navbar-collapse" id="myNavbar">
      <ul class="nav navbar-nav">
        <li class="active"><a href="/home/">Home</a></li>
          <li><a href="/pets/new/">Add A Pet <span class="glyphicon glyphicon-plus-sign"></span> </a></li>
      </ul>
      <ul class="nav navbar-nav navbar-right">
        <li><a href="/logout/"><span class="glyphicon glyphicon-log-out"></span> Logout</a></li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
{% block content %}
<h1>Activity</h1>
    <table id="table_format" class="table table-striped table-bordered table-list-search">
    <thead>
    <tr>
        <th>Event Type
        <select id='filterText' style='display:inline-block' onchange='filterText()'>
								<option disabled selected>Select</option>
								<option value='walk'>Walk</option>
								<option value='ate'>Feeding</option>
								<option value='bathroom'>Bathroom</option>
                                <option value='medication'>Medication</option>
                                <option value='all'>All</option>

							</select>
        </th>
    </tr>
    </thead>

    <tbody id="myTable">
{% for event in object_list %}
    <tr class="content">
         {% if event.event_type == 'F' %}
        <td> <span class="glyphicon glyphicon-cutlery" aria-hidden="true"></span> {{ event.pet.name }} ate at {{ event.time }} on {{ event.date }}</td>
    {% elif event.event_type == 'B' and event.bathroom.bathroom_type == 'Poop' %}
        <td><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> {{ event.pet.name }} went to the bathroom (pooped) at {{ event.time }} on {{ event.date }}</td>
     {% elif event.event_type == 'B' and event.bathroom.bathroom_type == 'Pee' %}
        <td><span class="glyphicon glyphicon-trash" aria-hidden="true"></span> {{ event.pet.name }} went to the bathroom (peed) at {{ event.time }} on {{ event.date }}</td>
         {% elif event.event_type == 'W' %}
             <td> <span class="glyphicon glyphicon-tree-deciduous" aria-hidden="true"></span> {{ event.pet.name }} went for a walk at {{ event.time }} on {{ event.date }}</td>
    {% elif event.event_type == 'M' %}
        <td> <i class="fa fa-medkit" aria-hidden="true"></i> {{ event.pet.name }} took <span class="lowercase">{{ event.medication.medication_type }}</span> medication at {{ event.time }} on {{ event.date }}</td>
    {% endif %}
    </tr>

{% endfor %}
    </tbody>
</table>
    <form action='/pets/new/'>
    <input type="submit" value="Add A Pet" />
</form>
    </form>
    <form action='/feedings/new/'>
    <input type="submit" value="Add A Feeding" />
</form>
    <form action='/walks/new/'>
    <input type="submit" value="Add A Walk" />
</form>

    <form action='/bathroom/new/'>
    <input type="submit" value="Add A Bathroom Event" />
    </form>
    <form action='/medications/new/'>
    <input type="submit" value="Add A Medication Event" />
</form>

{% endblock %}
</div>

      <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>


{#   I used http://stackoverflow.com/questions/35770982/how-to-make-dropdown-list-filter-for-a-table-using-jquery to do this #}
<script>
function filterText()
	{
		var rex = new RegExp($('#filterText').val());
		if(rex =="/all/"){clearFilter()}else{
			$('.content').hide();
			$('.content').filter(function() {
			return rex.test($(this).text());
			}).show();
	}
	}

function clearFilter()
	{
		$('.filterText').val('');
		$('.content').show();
	}
</script>
    </body>
</html>