{% extends 'base/libase.html' %}
{% block content %}
    <div id="header">
        <h1 class="event_header">Medication Events</h1>
        <a class="add_new" href="/medications/new/"><span class="glyphicon glyphicon-plus-sign" aria-hidden="true"></span>Add
            New</a>
    </div>
    <table id="table_format" class="table table-striped table-bordered table-list-search">
        <thead>
        <tr>
            <th>Pet</th>
            <th>Medication Type</th>
            <th>Time</th>
            <th>Date</th>
            <th>Comments</th>
        </tr>
        </thead>
        <tbody id="myTable">

        {% for medication in object_list %}
            <tr class="content">
                <td>{{ medication.pet.name }}</td>
                <td>{{ medication.medication_type }}</td>
                <td>{{ medication.time }}</td>
                <td>{{ medication.date }}</td>
                <td>{{ medication.comments }}</td>
            </tr>
        {% empty %}
            <tr>
                <td>No medication events yet.</td>
            </tr>
        {% endfor %}

        </tbody>

    </table>

{% endblock %}