h1, h1 a, .container-fluid {
    color: green;
    font-family: 'Roboto Slab', serif;
}

h3, form, table, p {
    font-family: 'Roboto Slab', serif;
    color: black;
}

.navbar .container-fluid .navbar-header .navbar-brand {
    color: green;
}

ul {
    list-style-type: none;
}

.post-form, form {
    color: black;
}

#about {
    color: dimgray;
}

.glyphicon-trash, .glyphicon-cutlery, .glyphicon-tree-deciduous, .fa-medkit {
    padding-right: 15px;
}

.new {
    color: green;
    font-family: 'Roboto Slab', serif;
    float: right;
    padding-right: 25px;

}

/*form {*/
/*float: right;*/
/*}*/

#header {
    width: 500px;
    display: inline;
}

.carousel_title {
    color: white;
}

.event_header {
    display: inline-block;
}

.add_new {
    display: inline-block;
    color: green;
    padding-left: 15px;
    padding-bottom: 25px;
}