h1 a, .container-fluid {
    color: green;
    font-family: 'Roboto Slab', serif;
}

h3 {
    font-family: 'Roboto Slab', serif;
}
.navbar .container-fluid .navbar-header .navbar-brand{
    color: green;
}




