h1, h1 a {
    color: green;
    font-family: 'Roboto Slab', serif;
}
h3, form, a, .container-fluid {
    font-family: 'Roboto Slab', serif;
}
.navbar .container-fluid .navbar-header .navbar-brand{
    color: green;
}

ul {
  list-style-type: none;
}

h1 {
    display:inline-block;
}

form {
    float: right;
}

#header {
    width: 500px;
}

#new {
    display:inline-block;
    padding-left: 25px;
    padding-bottom: 15px;
    color: green;
    vertical-align: middle;

}


