h1, h1 a, .container-fluid {
    color: green;
    font-family: 'Roboto Slab', serif;
}

h3, form {
    font-family: 'Roboto Slab', serif;
}

.navbar .container-fluid .navbar-header .navbar-brand {
    color: green;
}

ul {
    list-style-type: none;
}

